body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#menu{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    z-index: 9999;
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 6px 10px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

#menu:hover{
    background-color: rgba(250, 250, 250, 0.2);
}

#menu a{
    color: currentColor;
    text-decoration: none;
}

#menu a:hover{
    color: currentColor;
}



button{
    background: none; 
    border: none;
    }
  