
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
      position: relative;
    }


    #block-son{
        width: 100vw;
        height: 100vh;
        background-color: black;
        cursor: url('images/click-30px.png'), pointer;
        
    }

    audio {
        display: none;
    }

    #img-container img{
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        
    }

    #container-display{
      width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    #container-etreinte{
        /* cursor: url('images/pointer-move.png'), pointer; */
        background-color: black;
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
    }
    .div-hover{
        border-right: 1px solid #333;
        height: 100vh;
        z-index: 100;
    }

    #container-etreinte img{

      width: 100vw;
        height: 100vh;
        object-fit: contain;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

   

    .button-etreinte{
      z-index: 300;
      color: #666;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      position: fixed;
      font-size: 16px;
      right: 20px;
      bottom: 20px;
      height: 20px;
    }

    button:hover{
      color: #999;
      cursor: pointer;
    }

    #button-skip-audio, #button-refresh{ display: none; }
