
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            
        }
        #container-img{
            width: 800px;
            height: 600px;
            /* border: 1px solid #cfcfcf; */
            position: relative;
        }

        #container-img img{
            width: 800px;
            height: 600px;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
       
        }

        #rect{
            display: block;
            width: 522px;
            height: 393px;
            opacity: 0.2;
            position: absolute;
            top: 71px;
            left: 264px;
            z-index: 200;
        }

     
        #container-img:hover #photo{
            z-index: 50;
        }
