#wrapper {
   width: 100vw;
    height: 100vh; 
    overflow: hidden;
    position: relative;
    cursor: move;
}


#planche{
    border: 2px solid black; 
    background-color: #cfcfcf;
    width: 10000px;
    height: 10000px;
    position: relative;
    margin: 20px;
    cursor: move;
}

@media print{
    @page{
        size: 10000px 10000px;
    }
}

.text{
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: white;
	font-size: 50px;
}


.elem{
    width: 200px;
    /* height: 300px; */
    background-color: transparent!important;
    position: absolute!important;
    top: 80px;
    left: 60px;
}

.elem:hover{
    z-index: 100;
}

.elem img{
    width: 100%;
}

.ui-icon-gripsmall-diagonal-se{ 
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 0!important;
}


#non-classes{
    width: 300px;
    height: 500px;
    background-color: #999;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 3px dotted #555;
}

#non-classes{
    font-family: Courier, monospace;
    text-align: center;
    font-style: bold;
    color: #222;
}

.button-console{
    position: absolute; 
    left: 1px;
    top: 1px; 
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    /* z-index: 90; */
    
}

#zoom{
    z-index: 999999;
    width: 200px;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#loupe-img{
    width: 20px;
    position: absolute;
    left: -40px;
    top: -6px
}

#sliderzoom{
    background: black;
    height: 3px;
    border-radius: 4px;
    border: 1px solid white

}
#sliderzoom .ui-slider-handle{
    border: none; 
    background: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -14px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#sliderzoom .ui-slider-handle span{
    display: block;
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
    border: 1px solid white;
}

#reset{
   position: absolute; 
   top: -40px;
   right: 0;

}

#repere-onLoad{
    width: 20px;
    height: 20px;
    top: 2000px; 
    left: 1100px; 
    position: relative;

}

#indication{
    font-family: 'Courier New', Courier, monospace;
    color: #555;
    top: 2380px; 
    left: 1795px; 
    position: relative;
}

