body {
    --height-fil: 120px;
    background-color: black;
}



#intro > img {
    width: 100%;
    position: relative;
    width: 800px;
    top: 1px;
    left: 1px;
    transition: 2s ease-in-out;
}

#title {
    position: absolute;
    top: 20px;
    left: -80px;
    font-size: 30px;
}

#fil {
    background-color: rgba(0, 0, 0, 0.15);
    width: 4500px;
    height: calc(var(--height-fil) + 40px);
    position: absolute;
    transition: 2s ease-in-out;
    opacity: 0;
    z-index: 9999;
}



#container-img {
    width: 100%;
    display: flex;
    overflow: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
}

#fil img {
    height: var(--height-fil);
    width: var(--height-fil)!important;
    object-fit: contain;
    padding-right: 5px;
    cursor: grab;
}



#cache {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#cache img{
    width: 40px;
}



#intro{
    width: 100vw;
    height: 100vh;
    background-color: black; 
    z-index: 800;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

